:root {
    --font-light-color: var(--pure-dark);
    --font-dark-color: var(--white);
}

.posts {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin-bottom: 3rem;
}

.center {
    display: grid;
    padding-left: center;
    place-items: center;
}

.font--dark {
    color: var(--font-dark-color);
}

.font--light {
    color: var(--font-light-color);
}

@media (max-width: 768px) {
    .posts.w-100 {
        width: 100%;
    }
}